/* ### RULES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

/* UTILIS */

.container {
    width: 80%;
    margin: 40px auto 0 auto;
}

a {
    color: white;
    text-decoration: none;
    font-size: 0.8rem;
}

/* HEADER */

header {
    height: 55px;
    background-color: #ff6900;
    position: sticky;
    top: 0;
    z-index: 1;
}

header .container {
    width: 80%;
    height: 100%;
    min-width: 400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header a {
    padding-right: 5px;
}

.header .logo {
    width: 20%;
}

.logo-wrapper {
    text-align: center;
}

/* MAIN */

main > .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.main .card {
    height: 500px;
    width: 350px;
    min-width: 200px;
    background-color: antiquewhite;
    position: relative;
    margin-bottom: 30px;
}

.main .card .heart {
    display: inline-block;
    font-size: 1rem;
    background-color: white;
    padding: 14px 14px;
    position: absolute;
    left: 88%;
    top: 0;
}

.main img {
    height: 500px;
    width: 350px;
    min-width: 200px;
    margin-bottom: 40px;
}


.card .heart {
    display: inline-block;
    width: 50px;
    height: 50px;
}

.card .info {
    position: absolute;
    bottom: 30px;
    color: white;
    font-size: 0.8rem;
    font-weight: bold;
}

.card .info .price {
    background-color: red;
    padding: 5px 10px;
}

.card .info .sostenibilità {
    background-color: green;
    padding: 5px 10px;
}

.main .description {
    position: absolute;
    top: 100%;
}

.main .description .brand,
.main .description .pricetag {
    font-size: 0.7rem;
}

.main .description .name {
    font-size: 0.8rem;
    font-weight: bold;
}

.pricetag > .red {
    color: red;
}

.pricetag .slashed {
    text-decoration-line: line-through;
}

/* Card img hover */

.card .img-hover {
position:absolute;
display: none;
}

.card:hover .img-hover {
    display: block;
}

#card1:hover .img1, 
#card2:hover .img1,
#card3:hover .img1, 
#card4:hover .img1, 
#card5:hover .img1, 
#card6:hover .img1 {
    display: none;
}

#card1:hover .heart,
#card2:hover .heart,
#card3:hover .heart,
#card4:hover .heart,
#card5:hover .heart, 
#card6:hover .heart {
    color: red;
}

/* FOOTER */

.footer {
    width: 100%;
    height: 100px;
    background-color:  black;
}

.footer .container {
    display: flex;
    justify-content: space-between;
    height: 100%;
    color: white;
}

.footer .container > div {
    min-width: 200px;
    height: 100%;
    padding: 35px 0;
}

.footer h6 {
    font-size: 1rem;
}

.footer a {
    font-size: 0.6rem;
}
.footer .right-box {
    text-align: end;
    font-size: 0.7rem;
}

.footer .icon {
    font-size: 1rem;
    padding-top: 3px;
}

.footer .icon. i {
    padding: 3px;
}